@using Education.Data.Entities
@model List<Contact>
<section class="comments">

    <h1 class="heading">user contact</h1>

    @if (Model.Count == 0)
    {
        <p class="empty">no message yet!</p>
    }
    else
    {
        <div class="show-comments">
            @foreach (var item in Model)
            {
                <div class="box">
                    <div class="content"><span>Date: @item.DateCreated.ToString("dd/MM/yyyy")</span></div>
                    <p class="text">@item.Message</p>
                    <form action="">
                        <button type="button" id="@item.Id" data-action ="delete"class="inline-delete-btn" >delete message</button>
                    </form>
                </div>
            }
        </div>
    }

</section>
@section Scripts{
<script>
    //delete comment
    $(document).ready(function () {
        $("body").on("click", ".box button[data-action='delete']", function () {
            var clicked = $(this);
            $.ajax({
                url: "/Teacher/Contact/DeleteMessage",
                type: "POST",
                data: {
                    ContactId: this.id
                },
                success: function (data) {
                    clicked.closest('.box').hide("box");
                },
                error: function (error) {
                    console.error("false");
                }

            });


        });

    });
</script>
}