
<section class="dashboard">

    <h1 class="heading">dashboard</h1>

    <div class="box-container">

        <div class="box">
            <h3>welcome!</h3>
            <p><?= $fetch_profile['name']; ?></p>
    
        </div>

        <div class="box">
            <h3><?= $total_contents; ?></h3>
            <p>total contents</p>
            <a href="add_content.php" class="btn">add new content</a>
        </div>

        <div class="box">
            <h3><?= $total_playlists; ?></h3>
            <p>total playlists</p>
            <a href="add_playlist.php" class="btn">add new playlist</a>
        </div>


       



    </div>

</section>