@using Education.ViewModel
@model UpdateProfileVM

<!-- register section starts  -->

<section class="form-container" style="min-height: calc(100vh - 19rem);">

    <form class="register" action="" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="UserId" />
        <h3>update profile</h3>
        <div class="flex">
            <div class="col">
                <p>your name </p>
                <input type="text" asp-for="Name" required placeholder="enter your new name"  maxlength="010" class="box">      
                <p style="color:red">@ViewBag.name</p>
                <p>your email </p>
                <input type="email" asp-for="email" placeholder="enter your new email" maxlength="20" class="box">
                <p style="color:red">@ViewBag.message</p>
            </div>      
        </div>     
        <p>update avatar</p>
        <input type="file" asp-for="Image" class="box">
        <input type="submit" name="submit" value="update" class="btn">
    </form>

</section>

<!-- registe section ends -->